# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


# Build Directories
build/
out/
bin/

# IDE/Editor files
.vscode/
.idea/
*.swp
compile_commands.json

# Compiled Objects
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dll
*.dylib

# Application Artifacts
*.mp4
*.ppm
*.wav

# OS Specific
.DS_Store Thumbs.db
